body{
    font-family: helvetica;
    color: #000;
    text-align: center;
    background-color: #eee;
    margin-top: 70px;
}

h1{
    font-family: garamond, serif;
    color: #2d2d2d;
    font-size: 40px;
    display: inline-block;
    padding: 10px;
}

div.retrobar{
    display: inline-block;
    width: 30px;
    height: 200px;
}

img{
    width: 100px;
}
